.radio-a{display: inline-block;padding-left: 24px;line-height: 36px;position: relative;margin-right: 20px;text-decoration: none;color:seagreen;}
.radio-a i{display: inline-block;width: 17px;height: 17px;background: url(../img/radio-icon.png) 0px 0px no-repeat;}
.radio-a.active i{background-position: 0px -17px;}