<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="zh-cn">
<head>
    <meta content="云之讯,云通讯,云通讯平台" name="keywords"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>短信平台运营系统 - 管理员中心</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link th:href="@{/resources/css/bootstrap.min14ed.css?v=3.3.6}" rel="stylesheet">
    <link th:href="@{/resources/css/font-awesome.min93e3.css?v=4.4.0}" rel="stylesheet">
    <!-- jqgrid-->
    <!--<link th:href="@{/resources/css/plugins/jqgrid/ui.jqgridffe4.css?0820}" rel="stylesheet">-->
    <link th:href="@{/resources/css/animate.min.css}" rel="stylesheet">
	<link th:href="@{/resources/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet">

	<link th:href="@{/resources/css/style.min862f.css?v=4.1.0}" rel="stylesheet">
    <style>
        /* Additional style to fix warning dialog position */
        #alertmod_table_list_2 {
            top: 900px !important;
        }
    </style>
</head>
<body class="gray-bg"><div th:replace="stat :: statCode"></div>
	<div class="wrapper wrapper-content animated fadeInRight">
	    <div class="row">
	        <div class="col-sm-12">
	            <div class="ibox ">
	                <div class="ibox-title">
	                    <h5>管理员资料</h5>
	                </div>
	                <div class="ibox-content">

						<div class="pull-right tooltip-demo">
							<!--<a class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="返回" onclick="javascript:self.location=document.referrer;"><i class="fa fa-reply"></i>&nbsp;返回</a>-->
						</div>
	                    <div class="row">
	                        <div class="col-sm-6 b-r">
	                            <form class="form-horizontal m-t" id="manager_form">
	                                <div class="form-group">
	                                    <label class="col-sm-3 control-label">管理员账号</label> 
										<div class="col-sm-8" >
											<input type="email" name="email" class="form-control isEmail" th:value="${model.email}" readonly aria-required="true" placeholder="邮箱">
											<input name="id" type="hidden" th:value="${model.id}"/>
	                                    </div>
	                                </div>
	                                <div class="form-group">
	                                	<label class="col-sm-3 control-label">管理员身份</label>
	                                    <div class="col-sm-8">
											<input type="text" class="form-control" th:value="${model.role_name}" disabled>
		                                    <!--<select id="roleList" class="form-control" disabled="disabled">-->

												<!--<option  th:value="${model.role_id}" th:text="${model.role_name}"></option>-->
												<!---->
								            <!--</select>-->
	                                    </div>
	                                </div>
	                                <div class="form-group">
	                                	<label class="col-sm-3 control-label">web应用系统</label>
	                                    <div class="col-sm-8">
								            <select class="form-control"  disabled="disabled">
								            	<option value="3">运营平台</option>
								            </select>
								        </div>
	                                </div>	                                
	                                <div class="form-group">
	                                	<label class="col-sm-3 control-label">真实姓名</label>
	                                	<div class="col-sm-8">
		                                    <input name="realname"  readonly type="text" th:value="${model.realname}" class="form-control">
	                                	</div>
	                                </div>
	                                <div class="form-group">
	                                    <label class="col-sm-3 control-label">联系电话</label>
	                                    <div class="col-sm-8">
		                                    <input id="mobile" type="text" readonly name="mobile" class="form-control isMobile" autocomplete="false" th:value="${model.mobile}" placeholder="手机号码">
	                                    </div>
	                                </div> 
								     <div class="form-group">
								        <div class="col-sm-12 col-sm-offset-3">
								            <a type="button" class="btn btn-sm btn-success"  th:href="@{/admin/edit}+'?id='+${model.id}">修 改</a> 
								        </div>
								    </div>
	                            </form>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<script th:src="@{/resources/js/hex_ha_ha_ha_ha_ha.js}"></script>
	<script th:src="@{/resources/js/jquery.min.js?v=2.1.4}"></script>
	<script th:src="@{/resources/js/bootstrap.min.js?v=3.3.6}"></script>
	<script th:src="@{/resources/js/plugins/peity/jquery.peity.min.js}"></script>
	<script th:src="@{/resources/js/content.min.js?v=1.0.0}"></script>
	<script th:src="@{/resources/js/date_format.min.js?v=1.0.0}"></script>
	<script th:src="@{/resources/js/jquery.form.js?v=1.0.0}"></script>

	<script th:src="@{/resources/js/plugins/sweetalert/sweetalert.min.js}"></script>
	<script th:src="@{/resources/js/plugins/validate/jquery.validate.min.js}"></script>
	<script th:src="@{/resources/js/common.js?v=1.0.0}"></script>
	
	<script th:inline="javascript">
		/*<![CDATA[*/
		 

	    /*]]>*/
	    
	</script>
</body>
</html>