<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 代理商平台 : 客户管理 -->
<mapper namespace="com.ucpaas.sms.mapper.message.ClientIdSequenceMapper">

	<!-- 获取未使用序列中的随机值 -->
	<select id="getUnusedRandom" resultType="ClientIdSequence">
		SELECT
			id,
		    seq.clientid  as "clientId"
		FROM
			t_sms_clientid_sequence seq
		WHERE
			seq.status = 0 AND seq.lock = 0
			AND seq.clientid_type = #{clientIdType}
			AND seq.clientid LIKE CONCAT(#{prefix},'%' )
		ORDER BY rand() LIMIT 1
	</select>

	<!-- clientId 加锁-->
	<update id="lock">
		UPDATE t_sms_clientid_sequence seq
		SET 
			seq.lock = 1,
			seq.lock_start_time = NOW()
		WHERE
			seq.clientid = #{clientId}
			AND seq.status = 0 AND seq.lock = 0
	</update>
	
	<!-- 获取当前(已使用)序列中id值最大的数据 -->
	<select id="getMax" resultType="string">
		SELECT MAX(e.clientid) as clientid from (
			SELECT
				MAX(clientid) AS clientid
			FROM
				t_sms_clientid_sequence
			WHERE clientid_type = #{clientidType} AND clientid like CONCAT(#{prefix},'%' )
				UNION
			SELECT
				MAX(clientid) AS clientid
			FROM
				t_sms_account
			WHERE clientid like CONCAT(#{prefix},'%' )
		) e
	</select>
	
	<!-- 添加数据到clientid序列 -->
	<insert id="batchAdd">
		INSERT INTO
			t_sms_clientid_sequence (clientid,status,clientid_type)
		VALUES
			<foreach collection="list" item="clientId" separator=",">
			(#{clientId},0, #{clientIdType})
			</foreach>
	</insert>
	
	<!-- 修改clientid序列状态,已经使用的序列状态码更新为:1 -->
	<update id="updateStatus">
		UPDATE
			t_sms_clientid_sequence 
		SET
			status = 1
		WHERE
		 	clientid = #{clientId}
	</update>
	
</mapper> 