<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ucpaas.sms.mapper.message.OrderProgressMapper">
     
        
    <resultMap id="rowMapper" type="OrderProgress">
        <result property="id" jdbcType="INTEGER" column="id"/>
        <result property="orderId" jdbcType="VARCHAR" column="order_id"/>
        <result property="orderProgress" jdbcType="VARCHAR" column="order_progress"/>
        <result property="state" jdbcType="INTEGER" column="state"/>
        <result property="remark" jdbcType="VARCHAR" column="remark"/>
        <result property="operatorId" jdbcType="BIGINT" column="operator_id"/>
        <result property="isAudit" jdbcType="INTEGER" column="is_audit"/>
        <result property="createTime" jdbcType="TIMESTAMP" column="create_time"/>
    </resultMap> 
     
    <sql id="BASE_COLUMN_LIST">
        id,
        order_id,
        order_progress,
        state,
        remark,
        operator_id,
        is_audit,
        create_time
    </sql>

    <insert id="insert" parameterType="OrderProgress" >
        INSERT INTO t_sms_order_progress 
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="orderId != null" >
                order_id,
            </if>
            <if test="orderProgress != null" >
                order_progress,
            </if>
            <if test="state != null" >
                state,
            </if>
            <if test="remark != null" >
                remark,
            </if>
            <if test="operatorId != null" >
                operator_id,
            </if>
            <if test="isAudit != null" >
                is_audit,
            </if>
            <if test="isShow != null" >
                is_show,
            </if>
            <if test="createTime != null" >
                create_time
            </if>
        </trim>
        <trim prefix="VALUES (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id},
            </if>
            <if test="orderId != null" >
                #{orderId},
            </if>
            <if test="orderProgress != null" >
                #{orderProgress},
            </if>
            <if test="state != null" >
                #{state},
            </if>
            <if test="remark != null" >
                #{remark},
            </if>
            <if test="operatorId != null" >
                #{operatorId},
            </if>
            <if test="isAudit != null" >
                #{isAudit},
            </if>
            <if test="isShow != null" >
                #{isShow},
            </if>
            <if test="createTime != null" >
                #{createTime}
            </if>
        </trim>
    </insert>

    <insert id="insertBatch" parameterType="java.util.List" >
        INSERT INTO t_sms_order_progress (
            id,
            order_id,
            order_progress,
            state,
            remark,
            operator_id,
            is_audit,
            create_time
        )VALUES
        <foreach collection="list" item="item" index="index" separator="," >  
            (
                #{item.id},
                #{item.orderId},
                #{item.orderProgress},
                #{item.state},
                #{item.remark},
                #{item.operatorId},
                #{item.isAudit},
                #{item.createTime}
            )
        </foreach>
    </insert>
    
    
    <delete id="delete" parameterType="java.lang.Long">
        DELETE FROM t_sms_order_progress WHERE id = #{id} 
    </delete>
    

    <!-- <update id="update" parameterType="OrderProgress">
        UPDATE t_sms_order_progress SET 
            id=#{id},
            order_id=#{orderId},
            order_progress=#{orderProgress},
            state=#{state},
            remark=#{remark},
            is_audit=#{isAudit},
            create_time=#{createTime}
            UPDATE_TIME = now(),
            OPERATOR_ID = #{operatorId}
        WHERE 
            id = #{id} 
    </update> -->
    
    <update id="update" parameterType="OrderProgress">
        UPDATE t_sms_order_progress SET 
            order_id=#{orderId},
            order_progress=#{orderProgress},
            state=#{state},
            remark=#{remark},
            operator_id=#{operatorId},
            is_audit=#{isAudit},
            create_time=#{createTime}
        WHERE 
            id = #{id} 
    </update>
    
    
    
    
<!-- 
    <update id="updateStatus" parameterType="OrderProgress">
        UPDATE t_sms_order_progress 
            <set>
                STATUS = #{status}
            </set>
        WHERE 
            ID = #{id} 
    </update>
 -->
 
    <!-- <update id="updateSelective" parameterType="OrderProgress">
        UPDATE t_sms_order_progress 
            <set>
                <if test="id != null and id != ''">
                    id = #{id},
                </if>
                <if test="orderId != null and orderId != ''">
                    order_id = #{orderId},
                </if>
                <if test="orderProgress != null and orderProgress != ''">
                    order_progress = #{orderProgress},
                </if>
                <if test="state != null and state != ''">
                    state = #{state},
                </if>
                <if test="remark != null and remark != ''">
                    remark = #{remark},
                </if>
                <if test="isAudit != null and isAudit != ''">
                    is_audit = #{isAudit},
                </if>
                <if test="createTime != null and createTime != ''">
                    create_time = #{createTime},
                </if>
                <if test="operatorId != null and operatorId != ''">    
                    OPERATOR_ID = #{operatorId},
                </if>
                UPDATE_TIME = now()
            </set>
        WHERE 
            id = #{id} 
    </update> -->
    
    
    <update id="updateSelective" parameterType="OrderProgress">
        UPDATE t_sms_order_progress 
            <set>
                <if test="orderId != null and orderId != ''">
                    order_id = #{orderId},
                </if>
                <if test="orderProgress != null and orderProgress != ''">
                    order_progress = #{orderProgress},
                </if>
                <if test="state != null and state != ''">
                    state = #{state},
                </if>
                <if test="remark != null and remark != ''">
                    remark = #{remark},
                </if>
                <if test="operatorId != null and operatorId != ''">
                    operator_id = #{operatorId},
                </if>
                <if test="isAudit != null and isAudit != ''">
                    is_audit = #{isAudit},
                </if>
                <if test="createTime != null and createTime != ''">
                    create_time = #{createTime}
                </if>
            </set>
        WHERE 
            id = #{id} 
    </update>

    <select id="getById" parameterType="java.lang.Long" resultMap="rowMapper">
        SELECT 
            <include refid="BASE_COLUMN_LIST" />
        FROM t_sms_order_progress
        WHERE 
            id = #{id}
    </select>

    <select id="queryList" parameterType="OrderProgress" resultMap="rowMapper">
        SELECT 
            <include refid="BASE_COLUMN_LIST" /> 
        FROM t_sms_order_progress 
        <trim prefix="WHERE" prefixOverrides="AND |OR ">
            <if test="params.id != null and params.id != ''">
                and id = #{params.id}
            </if>
            <if test="params.orderId != null and params.orderId != ''">
                and order_id = #{params.orderId}
            </if>
            <if test="params.orderProgress != null and params.orderProgress != ''">
                and order_progress = #{params.orderProgress}
            </if>
            <if test="params.state != null and params.state != ''">
                and state = #{params.state}
            </if>
            <if test="params.remark != null and params.remark != ''">
                and remark = #{params.remark}
            </if>
            <if test="params.operatorId != null and params.operatorId != ''">
                and operator_id = #{params.operatorId}
            </if>
            <if test="params.isAudit != null and params.isAudit != ''">
                and is_audit = #{params.isAudit}
            </if>
            <if test="params.createTime != null and params.createTime != ''">
                and create_time = #{params.createTime}
            </if>
	     </trim>
    </select>

    <select id="queryOrderProgressList" parameterType="java.lang.String" resultType="com.ucpaas.sms.entity.po.OrderProgressPo">
        SELECT
            t.id as id,
            t.order_id as orderId,
            t.order_progress as orderProgress,
            t.state as state,
            CASE t.state
              WHEN 0 THEN '待配单'
              WHEN 1 THEN '待匹配'
              WHEN 2 THEN '待审批'
              WHEN 3 THEN '退单'
              WHEN 4 THEN '撤单'
              WHEN 5 THEN '匹配成功'
              WHEN 6 THEN '寻资源'
              WHEN 7 THEN '待审核'
              ELSE '待审核'
            END as stateName,
            t.remark as remark,
            t.operator_id as operatorId,
            u.realname as operatorName,
            t.is_audit as isAudit,
            t.is_show as isShow,
            t.create_time as createTime
        FROM
            t_sms_order_progress t
            INNER JOIN t_sms_user u ON t.operator_id = u.id
        WHERE
            order_id = #{orderId}
            ORDER BY create_time
    </select>

    <select id="count" parameterType="OrderProgress" resultType="int">
        SELECT COUNT(0) 
        FROM t_sms_order_progress 
        WHERE 
            1 = 1
            <if test="id != null and id != ''">
                and id = #{id}
            </if>
            <if test="orderId != null and orderId != ''">
                and order_id = #{orderId}
            </if>
            <if test="orderProgress != null and orderProgress != ''">
                and order_progress = #{orderProgress}
            </if>
            <if test="state != null and state != ''">
                and state = #{state}
            </if>
            <if test="remark != null and remark != ''">
                and remark = #{remark}
            </if>
            <if test="isAudit != null and isAudit != ''">
                and is_audit = #{isAudit}
            </if>
            <if test="createTime != null and createTime != ''">
                and create_time = #{createTime}
            </if>
    </select>
	 
</mapper>

