<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="zh-cn">
<head>
    <meta content="云之讯,云通讯,云通讯平台" name="keywords"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1"/>
    <title>短信平台运营系统 </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link th:href="@{/resources/css/bootstrap.min14ed.css?v=3.3.6}" rel="stylesheet">
    <link th:href="@{/resources/css/font-awesome.min93e3.css?v=4.4.0}" rel="stylesheet">
    <!-- jqgrid-->
    <link th:href="@{/resources/css/animate.min.css}" rel="stylesheet">
	<link th:href="@{/resources/css/plugins/sweetalert/sweetalert.css}" rel="stylesheet">

	<link th:href="@{/resources/css/style.min862f.css?v=4.1.0}" rel="stylesheet">
    <style>
        /* Additional style to fix warning dialog position */
        #alertmod_table_list_2 {
            top: 900px !important;
        }
    </style>
</head>
<body class="gray-bg"><div th:replace="stat :: statCode"></div>
	<div class="wrapper wrapper-content animated fadeInRight">
	    <div class="row">
	        <div class="col-sm-12">
	            <div class="ibox "> 
	                <div class="ibox-content">

						<div class="pull-right tooltip-demo">
							<!--<a class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="top" title="返回" onclick="javascript:self.location=document.referrer;"><i class="fa fa-reply"></i>&nbsp;返回</a>-->
						</div>
	                    <div class="row">
	                        <div class="col-sm-6 b-r">
	                            <form class="form-horizontal m-t" method="post" action="#" id="mainForm">
	                                <div class="form-group">
									    <label class="col-sm-3 control-label">产品ID:</label>
									    <div class="col-sm-8">
									      <p class="form-control-static" th:text="${data.product_id}"></p>
									    </div> 
	                                </div>
	                                <div class="form-group">
									    <label class="col-sm-3 control-label">产品代码:</label>
									    <div class="col-sm-8">
									      <p class="form-control-static" th:text="${data.product_code}"></p>
									    </div> 
	                                </div>
	                                <div class="form-group">
	                                	<label class="col-sm-3 control-label">产品名称:</label>
	                                    <div class="col-sm-8">
									      <p class="form-control-static" th:text="${data.product_name}"></p>
	                                    </div>
	                                </div>
	                                <div class="form-group">
	                                	<label class="col-sm-3 control-label">产品描述:</label>
	                                    <div class="col-sm-8">
									      <p class="form-control-static" th:text="${data.product_desc}"></p>
								        </div>
	                                </div>	                                
	                                <div class="form-group">
	                                	<label class="col-sm-3 control-label">产品类型:</label>
	                                	<div class="col-sm-8" th:switch="${data.product_type}">
									      <p class="form-control-static" th:case="0">行业</p>
									      <p class="form-control-static" th:case="1">会员营销</p>
									      <p class="form-control-static" th:case="2">国际短信</p>
									      <p class="form-control-static" th:case="3">验证码</p>
									      <p class="form-control-static" th:case="4">通知</p>
									      <p class="form-control-static" th:case="7">USSD</p>
									      <p class="form-control-static" th:case="8">闪信</p>
									      <p class="form-control-static" th:case="9">挂机短信</p> 
	                                	</div>
	                                </div>
	                                <div class="form-group">
	                                    <label class="col-sm-3 control-label">对应运营商:</label>
	                                	<div class="col-sm-8" th:switch="${data.operator_code}">
									      <p class="form-control-static" th:case="0">全网</p>
									      <p class="form-control-static" th:case="1">移动</p>
									      <p class="form-control-static" th:case="2">联通</p>
									      <p class="form-control-static" th:case="3">电信</p>
									      <p class="form-control-static" th:case="4">国际</p>
	                                    </div>
	                                </div> 
	                                <div class="form-group">
	                                    <label class="col-sm-3 control-label">适用区域:</label>
	                                	<div class="col-sm-8" th:switch="${data.area_code}">
									      <p class="form-control-static" th:case="0">全网</p>
									      <p class="form-control-static" th:case="1">国际</p>  
	                                    </div>
	                                </div> 
	                                <div class="form-group">
	                                    <label class="col-sm-3 control-label">有效期:</label>
	                                    <div class="col-sm-8">
									      <p class="form-control-static" th:text="${data.active_period}"></p>
	                                    </div>
	                                </div>  
	                                <div class="form-group">
	                                    <label class="col-sm-3 control-label">数量:</label>
	                                    <div class="col-sm-8">
									      <p class="form-control-static" th:text="${data.quantity}"></p>
	                                    </div>
	                                </div>  
	                                <div class="form-group">
	                                    <label class="col-sm-3 control-label">产品定价:</label>
	                                    <div class="col-sm-8">
									      <p class="form-control-static" th:text="${data.product_price}"></p>
                  						  <label id="product_price-error" class="" for="" style="color: #f00;display: inline;padding-left: 10px;font-size: 12px;"></label>
	                                    </div>
	                                </div>  
	                                <div class="form-group">
	                                    <label class="col-sm-3 control-label">产品成本:</label>
	                                    <div class="col-sm-8">
									      <p class="form-control-static" th:text="${data.product_cost}"></p>
									      <label id="product_cost-error" class="" for="" style="color: #f00;display: inline;padding-left: 10px;font-size: 12px;"></label>
	                                    </div> 
	                                </div>  
	                                <div class="form-group">
	                                    <label class="col-sm-3 control-label">状态:</label>
	                                    <div class="col-sm-8" th:switch="${data.status}"> 
									      <p class="form-control-static" th:case="0">待上架</p>
									      <p class="form-control-static" th:case="1">已上架</p>
									      <p class="form-control-static" th:case="2">已下架</p>
	                                    </div>
	                                </div> 
	                                <div class="form-group">
	                                    <label class="col-sm-3 control-label">创建者:</label>
	                                    <div class="col-sm-8">
									      <p class="form-control-static" th:text="${data.creator}"></p>
	                                    </div>
	                                </div>  
	                                <div class="form-group">
	                                    <label class="col-sm-3 control-label">创建时间:</label>
	                                    <div class="col-sm-8">
									      <p class="form-control-static" th:text="${data.createTime}"></p>
	                                    </div>
	                                </div>  
	                                <div class="form-group">
	                                    <label class="col-sm-3 control-label">备注:</label>
	                                    <div class="col-sm-8">
									      <p class="form-control-static" th:text="${data.remark}"></p>
	                                    </div>
	                                </div>  
								     <div class="form-group">
								        <div class="col-sm-12 col-sm-offset-3"> 
								            <button type="button" class="btn btn-sm btn-error" onclick="goback()">返回</button> 
								        </div>
								    </div> 
	                            </form>
	                            
             					
             					
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
	<script th:src="@{/resources/js/hex_ha_ha_ha_ha_ha.js}"></script>
	<script th:src="@{/resources/js/jquery.min.js?v=2.1.4}"></script>
	<script th:src="@{/resources/js/bootstrap.min.js?v=3.3.6}"></script>
	<script th:src="@{/resources/js/plugins/peity/jquery.peity.min.js}"></script>
	<script th:src="@{/resources/js/content.min.js?v=1.0.0}"></script>
	<script th:src="@{/resources/js/common.js?v=1.0.0}"></script>

	
	<script th:inline="javascript">
		/*<![CDATA[*/
	
	function goback(){
		window.history.back();
	}
	$(function(){
		
		

		var operator_code = /*[[${data.operator_code}]]*/;
		var product_type = /*[[${data.product_type}]]*/; 
		var area_code = /*[[${data.area_code}]]*/;
		
		$("#operator_code option[value="+operator_code+"]").attr("selected",true);
		$("#product_type option[value="+product_type+"]").attr("selected",true);
		$("#area_code option[value="+area_code+"]").attr("selected",true);
		
		$("input[name='operator_code']").val(operator_code);
		$("input[name='area_code']").val(area_code);
		
		 
		
	});

	    /*]]>*/
	    
	</script>
</body>
</html>