<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 代理商资质审核 -->
<mapper namespace="agentAudit">

	
	<sql id="queryCommon">
		<where>
			<if test="text != null and text!=''">
				(
					t.agent_name LIKE CONCAT('%', #{text}, '%')
					OR
					t.agent_id LIKE CONCAT('%', #{text}, '%')
					OR
					t.mobile LIKE CONCAT('%', #{text}, '%')
					OR
					t.company LIKE CONCAT('%', #{text}, '%')
				)
			</if>
			<if test="oauth_status != null and oauth_status != -1">
				AND t.oauth_status = #{oauth_status}
			</if>
			<if test="start_time != null and start_time!=''">
				<![CDATA[
				AND o.update_date >= #{start_time}
				]]>
			</if>
			<if test="end_time != null and end_time!=''">
				<![CDATA[
				AND o.update_date <= #{end_time}
				]]>
			</if>
			
		</where>
	</sql>

	<!-- 查询代理商资质审核记录 -->
	<select id="query" resultType="map">
		SELECT
			t.agent_id AS agent_id,
			t.agent_name AS agent_name,
			t.mobile AS mobile,
			t.company AS company,
			o.id_type AS oauth_type,
			t.oauth_status AS oauth_status,
			CASE t.oauth_status 
				WHEN 3 THEN '审核通过'
				WHEN 4 THEN '审核不通过'
				ELSE '待审核' END AS oauth_status_name,
			DATE_FORMAT(o.update_date,'%Y-%m-%d %H:%i:%S') AS submit_time
		FROM
			t_sms_agent_info t
		INNER JOIN t_sms_oauth_pic o ON t.agent_id = o.agent_id AND o.oauth_type = 1
		<include refid="queryCommon" />
		ORDER BY submit_time DESC
		${limit}
	</select>
	
	
	<!-- 查询代理商资质审核记录总数 -->
	<select id="queryCount" resultType="map">
		SELECT
			COUNT(1) as totalCount
		FROM
			t_sms_agent_info t
		INNER JOIN t_sms_oauth_pic o ON t.agent_id = o.agent_id AND o.oauth_type = 1
		<include refid="queryCommon" />
	</select>
	
	
	<select id="getAuditInfo" resultType="map">
		SELECT
			t.agent_id AS agent_id,
			t.agent_name AS agent_name,
			t.mobile AS mobile,
			t.company AS company,
			t.address AS address,
			t.company_nbr AS company_nbr,
			o.id_type AS id_type,
			o.id_nbr AS id_nbr,
			o.img_url AS img_url,
			t.oauth_status AS oauth_status,
			DATE_FORMAT(o.update_date,'%Y-%m-%d %H:%i:%S') AS submit_time,
			l.remark AS remark
		FROM
			t_sms_agent_info t
		INNER JOIN t_sms_oauth_pic o ON t.agent_id = o.agent_id
		LEFT JOIN t_sms_oauth_audit_log l ON t.agent_id = l.agent_id
		  AND l.audit_type = 1
		WHERE
		  t.agent_id = #{agent_id}
		  AND o.oauth_type = 1
		ORDER BY l.create_date DESC
		LIMIT 1
	</select>

	<select id="getAuditInfoOfAudit" resultType="map">
		SELECT
		t.agent_id AS agent_id,
		t.agent_name AS agent_name,
		t.mobile AS mobile,
		t.company AS company,
		t.address AS address,
		t.company_nbr AS company_nbr,
		o.id_type AS id_type,
		o.id_nbr AS id_nbr,
		o.img_url AS img_url,
		t.oauth_status AS oauth_status,
		DATE_FORMAT(o.update_date,'%Y-%m-%d %H:%i:%S') AS submit_time
		FROM
		t_sms_agent_info t
		INNER JOIN t_sms_oauth_pic o ON t.agent_id = o.agent_id
		WHERE
		t.agent_id = #{agent_id}
		LIMIT 1
	</select>

	<select id="getAuditAccount" resultType="map">
		SELECT
		t.agent_id AS agent_id,
		t.clientid AS clientid,
		t.name AS name,
		t.mobile AS mobile,
		t.address AS address,
		o.id_type AS id_type,
		o.id_nbr AS id_nbr,
		o.img_url AS img_url,
		t.oauth_status AS oauth_status,
		DATE_FORMAT(o.update_date,'%Y-%m-%d %H:%i:%S') AS submit_time
		FROM
		t_sms_account t
		INNER JOIN t_sms_oauth_pic o ON t.agent_id = o.agent_id
		WHERE
		t.agent_id = #{agent_id}
		AND o.oauth_type = 2
		ORDER BY o.update_date DESC
		LIMIT 1
	</select>

	<select id="getAuditAccountZK" resultType="map">
		SELECT
		t.clientid AS clientid,
		t.name AS name,
		t.mobile AS mobile,
		t.address AS address,
		o.id_type AS id_type,
		o.id_nbr AS id_nbr,
		o.img_url AS img_url,
		t.oauth_status AS oauth_status,
		DATE_FORMAT(o.update_date,'%Y-%m-%d %H:%i:%S') AS submit_time
		FROM
		t_sms_account t
		INNER JOIN t_sms_oauth_pic o ON t.clientid = o.client_id and  o.agent_id =0
		WHERE
		t.client_id = #{client_id}
		AND o.oauth_type = 2
		ORDER BY o.update_date DESC
		LIMIT 1
	</select>
	
	<update id="updateStatus">
		UPDATE t_sms_agent_info t
		SET t.oauth_status = #{oauth_status},
			t.oauth_date = NOW(),t.update_time = NOW()
		WHERE t.agent_id = #{agent_id}
	</update>
	
	<select id="checkAgentOauthStatus" resultType="java.lang.Integer">
		SELECT COUNT(1) FROM t_sms_agent_info WHERE agent_id = #{agent_id} AND oauth_status = 2
	</select>
	
	<insert id="insertAuditLog">
		INSERT INTO `t_sms_oauth_audit_log` (
			`agent_id`,
			`client_id`,
			`admin_id`,
			`audit_type`,
			`status`,
			`create_date`,
			`remark`
		)
		VALUES
			(
				#{agent_id},
				"",
				#{admin_id},
				#{audit_type},
				IF(#{oauth_status} = 3,1,0),
				NOW(),
				#{remark}
			)
	</insert>
	
</mapper> 